/**
 * Layout helpers.
 */

// Stretch an element vertically based on available space
.reveal .stretch,
.reveal .r-stretch {
  max-width: none;
  max-height: none;
}

.reveal pre.stretch code,
.reveal pre.r-stretch code {
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

// Text that auto-fits it's container
.reveal .r-fit-text {
  display: inline-block; // https://github.com/rikschennink/fitty#performance
  white-space: nowrap;
}

// Stack multiple elements on top of each other
.reveal .r-stack {
  display: grid;
}

.reveal .r-stack > * {
  grid-area: 1/1;
  margin: auto;
}

// Horizontal and vertical stacks
.reveal .r-vstack,
.reveal .r-hstack {
  display: flex;

  img,
  video {
    min-width: 0;
    min-height: 0;
    object-fit: contain;
  }
}

.reveal .r-vstack {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .r-hstack {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// Naming based on tailwindcss
.reveal .items-stretch {
  align-items: stretch;
}
.reveal .items-start {
  align-items: flex-start;
}
.reveal .items-center {
  align-items: center;
}
.reveal .items-end {
  align-items: flex-end;
}

.reveal .justify-between {
  justify-content: space-between;
}
.reveal .justify-around {
  justify-content: space-around;
}
.reveal .justify-start {
  justify-content: flex-start;
}
.reveal .justify-center {
  justify-content: center;
}
.reveal .justify-end {
  justify-content: flex-end;
}

.canvas {
  background: #f0f0f0;
  border-radius: 5px;
}

.images {
  display: none;
}

.reveal pre code.codePath {
  max-height: 270px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.keyboard__key {
  margin: 2px;
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(100, 100, 100)
    radial-gradient(
      circle at 0 0,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.35)
    );
  box-shadow: inset rgba(255, 255, 255, 0.75) -1px -1px 2px,
    inset rgba(255, 255, 255, 0.9) 1px 1px 2px, #fffefecc 1px 1px 2px -1px;
  transition: all 0.2s ease;
  user-select: none;
}

.keyboard__double_key {
  width: 100px;
}

.active {
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9),
    inset 0 0 20px 2em rgba(255, 255, 255, 0.2);
}

.canvas-wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
